@model IEnumerable<Stathis.Data.Customer>
@{
    ViewBag.Title = "Index";
}
<p>
    <h2 align="center">Web Customer Ex</h2>
</p>
<table class="table table-bordered table-striped">
   
    <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
   @foreach (var item in Model)
   {
    <tr>

        <td>@item.FirstName</td>
        <td>@item.LastName</td>
        <td>@item.Email</td>
        <td><a href="@Url.Action("Edit", "Stathis2", new { @id = @item.Id})">Edit</a></td>
        <td><a href="@Url.Action("Delete", "Stathis2", new { @id = @item.Id})">Delete</a></td>
    </tr>
   }
</table>

<div>
    @Html.ActionLink("Add new", "Create")
    @Html.ActionLink("Logout", "Logout", "Login")
</div>

