
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@using (Html.BeginForm())
{
    <div>@Html.Label("Username")</div>
    <div>@Html.TextBox("Username")</div>
    <div>@Html.Label("Password")</div>
    <div>@Html.TextBox("pass")</div>
    <div>@Html.Label("Email")</div>
    <div>@Html.TextBox("mail")</div>
    <div>@Html.Label(" ")</div>
    <input type="submit" value="Login"/>
}

